# Virtual Environment
.venv/
venv/
ENV/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Data and large vectors
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Local environment configuration variables
.env
